body{
    margin: 0%;
    font-family: sans-serif;
}
section{
    height: 540px;
    margin-bottom: 20px;
}
.top-banner{
    background-image: url(image/top-banner.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.orange-highlight{
    color: rgba(221, 155, 33, 0.733);
}
.half-weidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-weidth img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(45deg, salmon,teal);
    border-radius: 5px;
    margin-top: 8px;
    text-transform: uppercase;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    height: 80%;
    box-shadow: 10px 10px 40px gray ;
    background: white
    ;
}
.experiences{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,yellow);
    border-image-slice: 1;
} 
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,teal);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}